<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="a" class="com.github.mushkevych.genfabeto.BeanA">
		<property name="b" ref="b"/>
	</bean>

	<bean id="b3" class="com.github.mushkevych.genfabeto.BeanB">
		<property name="c" ref="c"/>
	</bean>

	<bean id="b2" class="com.github.mushkevych.genfabeto.FactoryMethod" factory-method="createB">
		<constructor-arg ref="c"/>
	</bean>

	<bean id="b" class="com.github.mushkevych.genfabeto.BeanBFactoryBean">
		<property name="c" ref="c"/>
	</bean>

	<bean id="c" class="com.github.mushkevych.genfabeto.BeanC">
		<property name="message" value="Hello World"/>
	</bean>

	<bean id="c2" class="com.github.mushkevych.genfabeto.BeanC">
		<property name="message" value="Hello World"/>
	</bean>

</beans>
